@use "../../index";

.add-item-prompt{

    @include index.flexbox(column, center, space-between);

    position: absolute;
    padding: 10px;
    width: 15vw;
    border: 1px solid black;
    box-shadow: 1px 1px 3px grey;

    > * {
        margin-bottom: 3px;
    }

    .rect-input, .square-input{
        display: none;
    }

    .rank-input{
        text-align: center;
    }
}
