@use "../../index";

.settings{

    @include index.flexbox(column, space-between, space-between);

    position: absolute;
    padding: 10px;
    border: 1px solid black;
    width: 15vw;
    height: 10vw;
    box-shadow: -1px 1px 3px grey;
}
